

$out-of-range-color: rgba(0, 0, 0, 0.1);
$out-of-range-bg-color: rgba(255, 255, 255, 0.1);

$calendar-border: transparent;
$cell-border: var(--du-light-transparent);

$border-color: var(--du-light-transparent);

$segment-width: percentage(1 / 7) !default;

$time-selection-color: white !default;
$time-selection-bg-color: rgba(0,0,0, .50) !default;
$date-selection-bg-color: rgba(0,0,0, .10) !default;


$event-bg: var(--du-primary);
$event-border: var(--du-primary);
$event-outline: var(--du-dark);
$event-color: var(--du-white);
$event-border-radius: ($spacer / 4);
$event-padding: ($spacer / 4) ($spacer / 2);
$event-zindex: 4 !default;

$btn-color: #373a3c !default;
$btn-bg: #fff !default;
$btn-border: #ccc !default;

$current-time-color: var(--du-dark);

$rbc-css-prefix: rbc-i !default;

$today-highlight-bg: var(--du-primary-transparent);